@font-face{
    font-family: TitilliumWeb-Regular;
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: TitilliumWeb-SemiBold;
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
}

@font-face {
    font-family: TitilliumWeb-Light;
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: Tit-italic;
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Italic.ttf');
}
body{
    font-family: Tit-italic;
    font-family: TitilliumWeb-SemiBold;
    font-family: TitilliumWeb-Bold;
    font-family: TitilliumWeb-Light;
    font-family: TitilliumWeb-Regular;
}

header{
    background-color: #87509c;
    overflow: hidden;
}

.container{
    width: 92%;
    margin: 50px auto;
}

.header-section{
    width: 100%;
    display: block;
    overflow: hidden;
}

.logo{
    float: left;
    width: 30%;
}

.logo-img{
    width: 60%;
    text-align: center;
    float: left;
}

.logo-img img{
    opacity: 0.8;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.logo-img img:hover{
    opacity: 1.0;
}


.gap1{
    width: 40%;
    float: left;
}

.menu{
    float: left;
    width: 70%;
    text-transform: uppercase;
    font-family: TitilliumWeb-Regular;
    text-align: right;
    
}

.menu nav{
    padding-right: 30px;
}


.menu nav ul li{
    display: inline-block;
}

.menu nav ul li a{
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 3px 12px;
    margin: 0px 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu nav ul li a:hover{
    background-color: #643a79;
    opacity: 0.95;
}

.header-body{
    width: 80%;
    margin: 80px auto;
    text-align: center;
    padding-bottom: 40px;
}
.header-body h1{
    color: #f7f3ea;
    margin-bottom: 50px;
    font-weight: 400;
    font-family: TitilliumWeb-Bold;
}

.header-body a{
    text-transform: uppercase;
    background-color: #eb7d4b;
    padding: 14px 55px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0px 3px #c86a40;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header-body a:hover{
    opacity: 1.0;
}

.service-area{
    background-color: #17c2a4;
    margin: auto;
    overflow: hidden;
    padding: 30px 0px;
    padding-bottom: 70px;
}

.section-head{
    text-align: center;
    width: 55%;
    margin: auto;
}

.section-head h1{
    color: #fff;
    font-family: TitilliumWeb-Bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-head hr{
    width: 10%;
    color: #14a58c;
    height: 3px;
    background-color: #14a58c;
    border: none;
}

.section-head p{
    color: #fff;
    opacity: 0.8;
    font-family: TitilliumWeb-Regular;
}

.section-body{
    width: 90%;
    margin: 100px auto;
}

.service-box{
    width: 23%;
    float: left;
    text-align: center;
    margin: 0px 0px 0px 15px;
}

.service-area img{
    width: 40%;
    height: 120px;
}

.service-area .service-box:nth-child(3) img{
    width: 45%;
    height: 120px;
}

.service-area .service-box:nth-child(2) img{
    width: 32%;
    height: 120px;
}

.service-box h3{
    color: #fff;
    font-family: TitilliumWeb-SemiBold;
    text-transform: uppercase;
    margin-top: 40px;
}

.service-box p{
    color: #fff;
    opacity: 0.8;
    font-family: TitilliumWeb-Light;
}

.team-section{
    background-color: #e7f1f8;
    margin: auto;
    overflow: hidden;
    padding: 30px 0px;
    padding-bottom: 70px;
}

.team-head h1{
    color: #3c4761;
    margin-bottom: 10px;
}

.team-head hr{
    width: 10%;
    background-color:  #c8d9e5;
}

.team-head p{
    color: #5d677b;
    margin-top: 11px;
    font-family: Tit;
}

.team-body{
    margin-bottom: 10px;
}

.team-box{
    float: left;
    width: 23%;
    text-align: center;
    margin: 0px 0px 0px 15px;
}

.team-body img{
    width: 50%;
    height: 90px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #878787;
}

.team-box h3{
    color: #27283d;
    font-family: TitilliumWeb-Bold;
    margin-bottom: 4px;
}

.team-box h5{
    color: #30bae7;
    margin-top: 0px;
}


.team-box p{
    color: #3c4761;
    font-family: TitilliumWeb-Light;
    opacity: 0.9;
    margin-bottom: 0px;
}

.social-links{
    width: 90%;
    margin: auto;
    text-align: center;
    clear: both;
}

.social-link{
    float: left;
    width: 23%;
    text-align: center;
    margin: 0px 0px 0px 15px;
}

.social-link ul{
    list-style: none;
    padding: 0px;
    margin-top: 7px;
}

.social-link ul li{
    display: inline-block;
}

.social-link ul li a i{
    color: #fff;
    background-color: #bdd1df;
    padding: 6px 7px ;
    font-size: 11px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.portfolio-section{
    background-color: #ffdd99;
    margin: auto;
    overflow: hidden;
    padding: 30px 0px;
    padding-bottom: 70px;
}

.portfolio-head h1{
    color: #393939;
}

.portfolio-head hr{
    background-color: #e5c37f;
}

.portfolio-head p{
    color: #60584a;
    margin-bottom: 30px;
}

.nav-menu{
    text-align: center;
}

.nav-menu ul{
    padding: 0;
}
.nav-menu li{
    display: inline-block;
    list-style: none;
}

.nav-menu a{
    color: #393939;
    text-decoration: none;
    background-color: #ebc985;
    text-transform: uppercase;
    padding: 2px 15px;
    border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin: 1px;
}

.nav-menu a:hover{
    background-color: #fff;
}

.work-box{
    width: 85%;
    margin: 30px auto;
    text-align: center;
}
.single-box{
    width: 45%;
    float: left;
    text-align: center;
    margin: 30px 0px 0px 30px;

}

.single-box img{
    width: 95%;
}

.more-btn{
    clear: both;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.more-btn a{
    background-color: #17c2a4;
    color: #fff;
    padding: 15px 40px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    text-decoration: none;
    font-family: TitilliumWeb-SemiBold;
    border-bottom: 3px solid #14a58c;
    border-radius: 3px;
}

.reference-section{
    background-color: #d74680;
    margin: auto;
    overflow: hidden;
    padding: 30px 0px;
    padding-bottom: 70px;
}

.ref-head h1{
    color: #fff;
}

.ref-head hr{
    background-color: #c23f73;
}

.ref-head p{
    color: #fff;
}

.first2{
    width: 100%;
    margin: auto;
}

.second2{
    width: 100%;
    margin: auto;
    clear: both;
}

.ref-box{
    width: 45%;
    float: left;
    text-align: center;
    margin-top: 60px;
}
.gapp{
    width: 10%;
    float: left;
}

.gapp p{
    width: 100%;
    text-align: center;
}

.ref-img{
    float: left;
    width: 30%;
    text-align: center;
}

.ref-img img{
    width: 70%;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #c23f73;
}

.ref-quota{
    float: left;
    width: 70%;
    text-align: left;
}

.ref-quota p{
    color: #fff;
    opacity: 0.8;
    font-family: Tit-italic;
    margin-top: 5px;
}

.ref-quota h3{
    color: #fff;
    text-transform: uppercase;
    font-family: TitilliumWeb-SemiBold;
    margin-bottom: 2px;
}

.ref-quota p:last-child{
    color: #facd96;
    margin-top: 0px;
    font-family: TitilliumWeb-Regular;
    font-size: 15px;
}

.contact-section{
    background-color: #3c5499;
    margin: auto;
    overflow: hidden;
    padding: 30px 0px;
    padding-bottom: 70px;
}

.contact-head h1{
    color: #fff;
}

.contact-head p{
    color: #fff;
}

.contact-head hr{
    background-color: #273a71;
}

.form-sec{
    width: 70%;
    margin: auto;
    margin-top: 45px;
}

.input-sec{
    width: 100%;
}

.input1{
    float: left;
    width: 50%;
}

.input1 input{
    background-color: #273a71;
    border-radius: 2px;
    border: 3px solid #273a71;
    -webkit-border-radius: 3px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    width: 90%;
    height: 32px;
    color: #fff;
    padding-left: 12px;
}

.input-sec .input1:first-child{
    text-align: left;
}

.input-sec .input1:last-child{
    text-align: right;
}

.input1 input::placeholder{
    color: #fff;
    opacity: 0.9;
    font-size: 15px;
}

.input2{
    width: 100%;
    margin-top: 25px;
    text-align: left;
}

textarea{
    background-color: #273a71;
    border-radius: 3px;
    border: 3px solid #273a71;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    width: 98%;
    height: 145px;
    color: #fff;
    opacity: 0.9;
    padding-left: 12px;
    font-size: 15px;
    padding-top: 15px;
}

.send-btn{
    clear: both;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}

.send-btn input{
    background-color: #30bae7;
    color: #fff;
    padding: 15px 40px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    text-decoration: none;
    font-family: TitilliumWeb-SemiBold;
    border: none;
    border-bottom: 3px solid #299ec5;
    border-radius: 3px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.send-btn input:hover{
    cursor: pointer;
}

textarea:focus{
    outline: none;
    transform: scale(1.01,1.01);
    -webkit-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);
    -o-transform: scale(1.01,1.01);
}

.input1 input:focus{
    outline: none;
    transform: scale(1.01,1.01);
    -webkit-transform: scale(1.01,1.01);
    -moz-transform: scale(1.01,1.01);
    -ms-transform: scale(1.01,1.01);
    -o-transform: scale(1.01,1.01);
}

.input1 input:focus::placeholder{
    color: #273a71;
    opacity: 1.0;
}

footer{
    background: #344b8e;
    overflow: hidden;
    text-align: center;
}

.footer-container{
    margin: 40px auto;
}

footer nav ul li{
    list-style: none;
    display: inline-block;
}

footer nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 28px;
    font-family: TitilliumWeb-SemiBold;
}

footer nav ul li a:hover{
    color: #30bae7;
}

